.about-section {
    padding: 50px;
    text-align: center;
    
}


.background {
    width: 100%;
    height: 80vh;
    position: relative;
}

.background img {
    width: 90vw;
    height: 80vh;
    object-fit: cover;
}

.description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #066a58;
}